@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
/* hoja solo para probar grid. Esto primero que dice box sizing, margin, padding es para poner por defecto a 0. */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    /* aca empieza */
    .header{ grid-area: header; }
    .subtitulo_arriba_imagen { grid-area: foter; }
    .titulo_menu {grid-area: titu}
    .menu_izq { grid-area: menu; }
    .menu_centro { grid-area: main; }
    .menu_der { grid-area: right; }
    .footer_abajo { grid-area: footer; }
   
    .grid-container {
      display: grid;
      grid-template-areas:
      'header header header header header header'
      'foter foter foter foter foter foter'
      'titu titu titu titu titu titu'
      'menu menu main main right right'
      'footer footer footer footer footer footer';
      grid-gap: 1px;
      background-color: #c0f6f6;
      padding: 1px;
    }
    
    .grid-container > div {
      background-color: rgba(134, 96, 50, 0.782);
      text-align: center;
      /* padding: 20px 0; */
      padding: 0;
      font-size: 30px;
    }
    /* aca termina */
}
header{
    text-align: right;
    background-color:rgba(134, 96, 50, 0.782);
    padding: 6rem;
    left: 0;
    top: 0;
    right: 0;
}
.caja_arriba1{
    display:flexbox;
    color:rgb(245, 246, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align:right;
    padding: 8px;
    /*left: 0;
    top: 0;
    right: 0;*/
}
.logo{
    float:left; 
    padding: 2px;
    top: 0;
    right: 0;
}
.subtitulo_arriba_imagen{
    display:inline-flex;
    color:rgb(12, 51, 38);
    font-family: "Montserrat",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3rem;
    background-color: rgba(54, 138, 100, 0.666);
    text-align:center;
}
.titulo_menu{
    color:rgb(6, 40, 13);
    font-family:"Montserrat",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align:center;
    background-color:rgba(134, 96, 50, 0.782);
}
.trio{
    display:flex;
    flex-direction: row;
}

.menu_izq{
    background-color:beige;
    display:flex;
    flex-direction: column;
}
.menu_centro{
    background-color:beige;
    display:flex;
    flex-direction: column;
}
.menu_der{
    background-color:beige;
    display:flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    color:rgb(209, 221, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align:right;
}
.footer_abajo{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align:center;
    background-color:rgb(18, 18, 11);
    margin-top: 1rem;
    padding: 1.5rem;
}
.descripcion{
    display:inline-block;
    color:brown;
    font-family:"Montserrat", Georgia, 'Times New Roman', Times, serif;
    font-size:1rem;
    text-align:justify;
    background-color:rgba(5, 137, 67, 0.729);
    padding:3rem;
}
/*acá empieza lo que copio de la hoja de styles*/
/*p.alineacion{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 10px;
}
*/

li{
    display: inline;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    display:flexbox;
    color:rgb(209, 221, 231);
    background-color: rgba(134, 96, 50, 0.782);
    text-align:right;
    }

li a {
    color: #D4A373;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
     }
li a:hover {
    background-color: #305a30a6;
           }*/
.encabezado2{
    display: flex;
}



/*acá termina lo de la hoja de styles, ver qué pasa que se descuajeringa todo cuando lo junto*/