
.barra_arriba{
    display:flexbox;
    color:rgb(209, 221, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    background-color: rgba(134, 96, 50, 0.782);
    text-align:right;
}

.ImgPrincipal{
    color:rgb(209, 221, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3rem;
    background-color: rgba(134, 96, 50, 0.782);
    text-align:left;
}
.tituloMenu{
    color:rgb(6, 40, 13);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align:center;
    background-color:rgb(203, 180, 146);
}

p.alineacion{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 2rem;
}
header{
    text-align: right;
    background-color:#274427a6;
    padding: 8px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
li{
    display: inline;
}
ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif
    
  }

li a {
    color: #D4A373;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
     }
li a:hover {
    background-color: #305a30a6;
    border-radius: 8px;
           }
.encabezado2{
    display: grid;
    row-gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
.encabezado2 > h2{
    background-color: #305a30a6;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
}
footer, .footer{ 
    background-color:#14150e;
    color:white;
    text-align: center;
    margin-top: 1rem;
    padding: 1.5rem;
    bottom: 0;
    margin-top: auto;
}
.logo{
    float: left;  
    width: 180px;
    height: 50px; 
}
.flex-container{
    display: flex;
}
body{
    padding-top: 6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}