@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* .barra_arriba{
    display:flexbox;
    color:rgb(209, 221, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    background-color: rgba(134, 96, 50, 0.782);
    text-align:right;
}
*/
/* .ImgPrincipal{
    color:rgb(209, 221, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3rem;
    background-color: rgba(134, 96, 50, 0.782);
    text-align:left;
}
*/
/*
 .tituloMenu{
    color:rgb(6, 40, 13);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align:center;
    background-color:rgb(203, 180, 146);
}
*/

header{
    text-align: right;
    background-color:#274427;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    }
li{
    display: inline; /*p/ q los links estén en línea, en vez de uno debajo de otro*/
}
ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif; /*las podemos cambiar luego*/
  }
li a {
    color: #D4A373;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
     }
li a:hover { /*esta clase es p/ q cuando le pasas el mouse por encima a los links se sombreen*/
    background-color: #305a30a6;
    color: white;
    border-radius: 8px;
           }
.encabezado2{
    display: flex;
}
footer, .footer{ 
    background-color:black;
    color:white;
    text-align: center;
    margin-top: 1rem;
    padding: 1.5rem;
    bottom: 0;
    margin-top: auto;
}
.logo{
    float: left;  /*esto me pone el logo a la izq*/
    width: 180px; 
    height: 50px; 
}

body{
    margin: 0; /*es para que no haya margen entre el body y las otras cajas como el footer*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.flor_fondo{
    width: 30rem;
    opacity: 1; /*para darle transparencia a la imagen*/
    
    }